.input-searchbar{
    border-radius: 20px !important;
}
.avatar{
    border-radius: 50%;
    background: lightgray;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar img{
    border-radius: 50%;
}